[Unit]
Description=Timer for Awww wallpaper rotator
PartOf=graphical-session.target
After=graphical-session.target awww-daemon.service

[Timer]
OnActiveSec=3s
OnUnitActiveSec=30m
Unit=awww-random.service

[Install]
WantedBy=graphical-session.target
