[Unit]
Description=Clipboard history “manager” powered with Fuzzel for Wayland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/home/daniel/dotfiles/.local/bin/cliphist-daemon
Restart=on-failure


[Install]
WantedBy=graphical-session.target



