[Unit]
Description=Waybar right panel
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""
ExecStart=/home/daniel/bin/waybar -c /home/daniel/.config/waybar/right.jsonc
Restart=on-failure



[Install]
WantedBy=graphical-session.target
