[Desktop Entry]
Name[ar]=مُنزِّل الفيديوهات
Name[be]=Video Downloader
Name[ca]=Descarregador de vídeo
Name[ckb]=دابەزێنەری ڤیدیۆ
Name[cs]=Video Downloader
Name[de]=Video Downloader
Name[el]=Video Downloader
Name[es]=Descargador de vídeo
Name[et]=Videote allalaadija
Name[eu]=Bideo Deskargatzailea
Name[fa]=Video Downloader
Name[fi]=Video Downloader
Name[fr]=Téléchargeur de vidéos
Name[gl]=Descargador de vídeos
Name[he]=מוריד הסרטונים
Name[hi]=वीडियो डाउनलोडर
Name[hr]=Preuzimanje videa
Name[hu]=Videóletöltő
Name[hy]=Վիդեոների Ներբեռնիչ
Name[id]=Pengunduh Video
Name[it]=Video Downloader
Name[ja]=Video Downloader
Name[ka]=ვიდეოს გადმომწერი
Name[ko]=비디오 다운로더
Name[nb]=Videonedlaster
Name[nl]=Video­downloader
Name[pl]=Video Downloader
Name[pt]=Video Downloader
Name[pt_BR]=Video Downloader
Name[ro]=Video Downloader
Name[ru]=Загрузчик видео
Name[sk]=Video Downloader
Name[sl]=Prenosnik videov
Name[sv]=Video Downloader
Name[ta]=வீடியோ பதிவிறக்கம்
Name[tr]=Video İndirici
Name[uk]=Завантажувач відео
Name[uz]=Video Yuklab oluvchi
Name[vi]=Trình tải xuống video
Name[zh_CN]=Video Downloader
Name[zh_TW]=影片下載器
Name=Video Downloader
Comment[ar]=نزِّل فيديوهات الوِب
Comment[be]=Спампуйце відэа з вэб-сайтаў
Comment[ca]=Descarrega vídeos de la web
Comment[cs]=Stahování videí z webu
Comment[de]=Webvideos herunterladen
Comment[el]=Λήψη βίντεο από το διαδίκτυο
Comment[es]=Descargar vídeos de Internet
Comment[et]=Laadi alla veebivideoid
Comment[eu]=Webguneetako bideoak deskargatu
Comment[fi]=Lataa videoita verkosta
Comment[fr]=Téléchargez des vidéos à partir de sites web
Comment[gl]=Descargue vídeos desde Internet
Comment[he]=הורדת סרטונים מאתרים
Comment[hi]=वेब वीडियो डाउनलोड करें
Comment[hr]=Preuzmi web videa
Comment[hu]=Videók letöltése a YouTube és más webhelyről
Comment[hy]=Ներբեռնել համացանցից վիդեոներ
Comment[id]=Unduh video web
Comment[it]=Scarica video dal web
Comment[ja]=Web 動画をダウンロードします
Comment[ka]=ვიდეოების გადმოწერა ვებიდან
Comment[nb]=Last ned nettvideoer
Comment[nl]=Download web­video's
Comment[pl]=Pobierz filmy z internetu
Comment[pt]=Transferir vídeos da Web
Comment[pt_BR]=Baixar vídeos da web
Comment[ro]=Descărcare video-uri web
Comment[ru]=Позволяет скачать видео из интернета
Comment[sk]=Stiahnuť webové videá
Comment[sl]=Prenos spletnih videov
Comment[sv]=Ladda ner webbvideor
Comment[ta]=வலை வீடியோக்களைப் பதிவிறக்கவும்
Comment[tr]=İnternet sitelerinden video indirin
Comment[uk]=Завантажуйте відео із сайтів
Comment[uz]=Veb-videolarni yuklab olish
Comment[vi]=Tải xuống video trên web
Comment[zh_CN]=下载网站上的视频
Comment[zh_TW]=下載網路影片
Comment=Download web videos
Exec=video-downloader
Icon=com.github.unrud.VideoDownloader
Terminal=false
Type=Application
Categories=Network;GTK;
StartupNotify=true
X-GNOME-UsesNotifications=true
Actions=new-window;
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=اليوتيوب;التنزيل;منزل الفيديوهات;YouTube;Download;Video Downloader;
Keywords[be]=YouTube;Спампаваць;
Keywords[ca]=Youtube;Descarrega;
Keywords[cs]=YouTube;Download;
Keywords[de]=YouTube;Download;herunterladen;
Keywords[el]=YouTube;Download;
Keywords[es]=YouTube;Descargar;
Keywords[et]=YouTube;laadi alla;allalaadimine;veebivideod;
Keywords[eu]=Youtube;Deskargatu;
Keywords[fi]=YouTube;Download;lataa;
Keywords[fr]=YouTube;Download;Télécharger;Vidéos;
Keywords[gl]=YouTube;Descargar;
Keywords[he]=יוטיוב;הורדה;
Keywords[hi]=YouTube;डाउनलोड;
Keywords[hr]=YouTube;preuzimanje;
Keywords[hu]=Youtube;Letöltés;
Keywords[hy]=YouTube;Download;Ներբեռնել;Վիդեոներ;
Keywords[id]=YouTube;Unduh;
Keywords[it]=YouTube;Scarica;
Keywords[ja]=YouTube;Download;ダウンロード;
Keywords[ka]=YouTube;Download;გადმოწერა;
Keywords[nb]=YouTube;Download;Nedlasting;
Keywords[nl]=YouTube;downloaden;
Keywords[pl]=YouTube;Pobieranie;Wideo;
Keywords[pt]=YouTube;Transferir;
Keywords[pt_BR]=YouTube;Download;
Keywords[ro]=YouTube;Download;Descărcător;
Keywords[ru]=YuuTube;Скачать;
Keywords[sk]=YouTube;Stiahnuť;
Keywords[sv]=YouTube;Ladda ner;
Keywords[ta]=YouTube; பதிவிறக்கம்;
Keywords[tr]=YouTube;Download;İndir;
Keywords[uk]=YouTube;Download;Завантажити;
Keywords[uz]=YouTube;Yuklab Olish;
Keywords[vi]=YouTube;Tải xuống;
Keywords[zh_CN]=YouTube;Download;
Keywords[zh_TW]=YouTube;Download;下載;
Keywords=YouTube;Download;

[Desktop Action new-window]
Name[ar]=نافذة جديدة
Name[be]=Новае акно
Name[ca]=Finestra nova
Name[ckb]=پەنجەرەی نوێ
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[es]=Ventana nueva
Name[et]=Uus aken
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नई खिड़की
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[hy]=Նոր պատուհան
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[ko]=새 창
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[pl]=Nowe Okno
Name[pt]=Nova Janela
Name[pt_BR]=Nova Janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sv]=Nytt fönster
Name[ta]=புதிய சாளரம்
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[uz]=Yangi oyna
Name[vi]=Cửa sổ mới
Name[zh_CN]=新窗口
Name[zh_TW]=新視窗
Name=New Window
Exec=video-downloader
