[Desktop Entry]
Name=Gnome Paint Drawing Editor
Name[ar]=محرر رسومات جنوم
Name[bg]=Редактор на рисунки Gnome Paint
Name[bs]=GNOME Aplikacija Za Crtanje
Name[ca]=Editor de dibuixos GNOME Paint
Name[cs]=Editor kreseb Gnome Paint
Name[da]=Gnome Paint - tegneprogram
Name[de]=Gnome-Paint Zeichnungs-Editor
Name[el]=Επεξεργασία Ζωγραφικής και Σχεδίου του GNOME
Name[en_AU]=Gnome Paint Drawing Editor
Name[en_GB]=Gnome Paint Drawing Editor
Name[eo]=GNOME-desegnaĵredaktilo
Name[es]=Editor de dibujo y pintura de GNOME
Name[es_MX]=Editor de deseño Gnome Paint
Name[eu]=Gnome Paint marrazketa-editorea
Name[fi]=Gnome Paint -piirustusohjelma
Name[fr]=Logiciel de dessin Gnome Paint
Name[gl]=Editor de debuxo e pintura de GNOME
Name[he]=עורך האיורים הצייר של Gnome
Name[hr]=Gnome Paint uređivač crteža
Name[hu]=Gnome Paint rajzszerkesztő
Name[it]=Editor di disegno Gnome Paint
Name[lt]=Gnome Paint piešimo redaktorius
Name[ms]=Penyunting Lukisan Gnome Paint
Name[nl]=Tekenprogramma voor Gnome
Name[pl]=Gnome Paint
Name[pt]=Editor de Desenhos e Pinturas do Gnome
Name[pt_BR]=Editor de Desenhos Gnome Paint
Name[ru]=Редактор изображений Gnome Paint
Name[si]=Gnome චිත්‍රණ සකසනය
Name[sk]=Kresliaci editor Gnome Paint
Name[sr]=Гномов сликар уређивач цртежа
Name[sr@latin]=GNOME Aplikacija Za Crtanje
Name[th]=โปรแกรมวาดภาพ Gnome
Name[tr]=Gnome Paint Çizim Düzenleyicisi
Name[uk]=Графічний редактор Gnome Paint
Name[vi]=Trình soạn thảo hình vẽ Gnome Paint
Name[zh_CN]=Gnome 画图工具
Name[zh_TW]=Gnome 繪畫編輯器
Comment=Create and Edit Drawings or Images
Comment[af]=Maak en redigeer tekeninge of prente
Comment[ar]=أنشئ وحرّر الرسوم والصور
Comment[bg]=Създаване и редактиране на рисунки или изображения
Comment[bs]=Kreiraj i izmeni crteže i slike
Comment[ca]=Creeu i editeu dibuixos o imatges
Comment[cs]=Vytvořit a upravit kresby či obrázky
Comment[da]=Opret og rediger tegninger eller billeder
Comment[de]=Zeichnungen und Bilder erstellen und bearbeiten
Comment[el]=Δημιουργία και επεξεργασία σχεδίων ή εικόνων
Comment[en_AU]=Create and Edit Drawings or Images
Comment[en_GB]=Create and Edit Drawings or Images
Comment[eo]=Krei kaj redakti desegnaĵojn aŭ bildojn
Comment[es]=Cree y edite dibujos o imágenes
Comment[es_MX]=Crear o modificar dibujos o imágines
Comment[eu]=Sortu eta editatu marrazkiak edo irudiak
Comment[fi]=Luo ja muokkaa piirustuksia ja kuvia
Comment[fr]=Créer et modifier des images ou des dessins
Comment[gl]=Cree e edite debuxos ou imaxes
Comment[he]=יצירה ועריכה של איורים או תמונות
Comment[hr]=Stvaranje i uređivanje crteža ili slika
Comment[hu]=Rajzok és képek készítése, szerkesztése
Comment[it]=Creare o modificare immagini o disegni
Comment[lt]=Sukurti ir redaguoti piešinius ar paveikslėlius
Comment[ms]=Cipta dan Sunting Lukisan atau Imej
Comment[nb]=Opprett og Rediger Tegninger heller Bilder
Comment[nl]=Maak en bewerk tekeningen of afbeeldingen
Comment[pl]=Twórz i edytuj rysunki oraz zdjęcia
Comment[pt]=Criar e Editar Desenhos ou Imagens
Comment[pt_BR]=Crie e Edite Desenhos ou Imagens
Comment[ru]=Создание и редактирование рисунков и изображений
Comment[si]=චිත්‍රණ හෝ පින්තූර නිර්මාණය සහ සංස්කරණය
Comment[sk]=Tvorba a úpravy kresieb a obrázkov
Comment[sr]=Стварајте и уређујте цртеже или слике
Comment[sr@latin]=Kreiraj i izmeni crteže
Comment[th]=สร้างและแก้ไขรูปภาพหรือภาพวาดต่างๆ
Comment[tr]=Çizim veya Görüntü Oluşturun ve Düzenleyin
Comment[uk]=Створюйте та редагуйте креслення або малюнки
Comment[vi]=Tạo và chỉnh sửa hình vẽ hay ảnh
Comment[zh_CN]=创建并编辑图像
Comment[zh_TW]=建立與編輯繪畫或影像
TryExec=gnome-paint
Exec=gnome-paint %U
Icon=gnome-paint
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;RasterGraphics;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
