[Desktop Entry]
Name[bg]=MusicBrainz Picard
Name[cs]=MusicBrainz Picard
Name[de]=MusicBrainz Picard
Name[es]=MusicBrainz Picard
Name[fi]=MusicBrainz Picard
Name[fr]=MusicBrainz Picard
Name[he]=מוזיקבריינז פיקארד
Name[it]=MusicBrainz Picard
Name[ja]=MusicBrainz Picard
Name[lt]=„MusicBrainz Picard“
Name[ms_MY]=Picard MusicBrainz
Name[nl]=MusicBrainz Picard
Name[pl]=MusicBrainz Picard
Name[pt]=MusicBrainz Picard
Name[pt_BR]=MusicBrainz Picard
Name[ru]=MusicBrainz Picard
Name[sq]=MusicBrainz Picard
Name[tr]=MusicBrainz Picard
Name[zh_CN]=MusicBrainz Picard
Name[zh_TW]=MusicBrainz Picard
Name=MusicBrainz Picard
Comment[cs]=Označte svou hudbu s označovačem další generace MusicBrainz
Comment[de]=Tagge deine Musik mit dem MusicBrainz-Tagger der nächsten Generation
Comment[es]=Etiqueta tu música con el etiquetador MusicBrainz de próxima generación
Comment[fr]=Taguer votre musique avec le baliseur MusicBrainz de nouvelle génération
Comment[it]=Tagga la tua musica con il tagger MusicBrainz di ultima generazione
Comment[lt]=Žymėk savo muziką su naujos kartos „MusicBrainz“ žymekliu
Comment[nl]=Tag je muziek met de volgende generatie MusicBrainz-tagger
Comment[pl]=Otaguj swoją muzykę przy pomocy tagera następnej generacji od MusicBrainz
Comment[ru]=Размечайте свою музыку с редактором тегов нового поколения от MusicBrainz
Comment[tr]=Müziğinizi yeni nesil MusicBrainz etiketleyiciyle etiketleyin
Comment[zh_CN]=使用最新一代的MusicBrainz标签工具为您的音乐添加精准标签，提升音乐管理和发现的体验
Comment=Tag your music with the next generation MusicBrainz tagger
Exec=picard %F
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Picard
Icon=org.musicbrainz.Picard
Categories=AudioVideo;Audio;AudioVideoEditing;
MimeType=application/ogg;application/x-flac;audio/aac;audio/ac3;audio/aiff;audio/ape;audio/dsf;audio/flac;audio/midi;audio/mp4;audio/mpeg;audio/mpeg4;audio/mpg;audio/ogg;audio/vorbis;audio/x-aac;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-flac+ogg;audio/x-m4a;audio/x-midi;audio/x-mp3;audio/x-mpc;audio/x-mpeg;audio/x-ms-wma;audio/x-ms-wmv;audio/x-musepack;audio/x-oggflac;audio/x-speex;audio/x-speex+ogg;audio/x-tak;audio/x-tta;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wav;audio/x-wavpack;audio/x-wma;video/x-ms-asf;video/x-theora;video/x-wmv;
Actions=new-window;

[Desktop Action new-window]
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[es]=Nueva ventana
Name[fr]=Nouvelle fenêtre
Name[it]=Nuova finestra
Name[lt]=Naujas langas
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[ru]=Новое окно
Name[tr]=Yeni Pencerede Aç
Name[zh_CN]=新窗口
Name=New Window
Exec=picard --stand-alone-instance %F
