/* RIGHT & LEFT MONITOR WAYBAR CONFIGURATION */
/* 		THEME NAME 			*/
/* MILK IN A WISKEY GLASS WITH A FLOATING PLUM */

/* GLOBAL SETTINGS */
* {
	font-family: JetBrainsMono Nerd Font Propo;/* FontAwesome;*/
	font-size: 12px; 
	font-weight: normal;
	/*font-variant: small-caps;*/
	-gtk-dpi: 96;
	letter-spacing: 0px;
	border-radius: 16px;
	/*text-shadow: 1px 1px 2px  rgba(48,30,46,.25);*/
	-gtk-icon-style: regular;
	-gtk-icon-theme: "Papirus";
	color: rgba(48,30,46,1);
	transition:
    		background-color 250ms ease-out,
    		color 250ms ease-out,
    		border-color 250ms ease-out;
}
/*The following classes are applied to the entire Waybar rather than just the window widget:*/
window#waybar {background-color: transparent;}
window#waybar.hidden {opacity: 0.5;}
window#waybar.empty {	background-color: transparent;
			color:transparent;}
window#waybar.solo {background-color: transparent;}
window#waybar.termite {background-color: #3F3F3F;}
window#waybar.chromium {background-color: #000000;
			border: none;}
window#waybar.empty #window {background-color: transparent;}
window#waybar.toplevel-active {background: #60406c;}

/* TOOLTIPS */
tooltip {background: rgba(248,246,242,.75);
	border-top:    4px solid rgba(208, 132, 204,.5);
	border-left:   4px solid rgba(208, 132, 204,.5);
	border-right:  4px solid rgba(208, 132, 204,.6);
	border-bottom: 4px solid rgba(208, 132, 204,.7);}
tooltip label {	padding: 7px 7px;
		text-shadow: 2px 1px 2px rgba(42,32,46,.5);
		font-variant: normal;
		font-weight: normal;
		letter-spacing: 0.5px;}
		

/* MENUS */
menu {	background: rgba(248,246,242,.75);
	border-top:    4px solid rgba(208, 132, 204,.5);
	border-left:   4px solid rgba(208, 132, 204,.5);
	border-right:  4px solid rgba(208, 132, 204,.6);
	border-bottom: 4px solid rgba(208, 132, 204,.7);
	box-shadow: 2px 1px 2px rgba(42,32,46,.25);}
menu label {	color: rgba(48,30,46,.90);
		padding: 2px 0px;
		text-shadow: 2px 1px 2px rgba(42,32,46,.5);
		font-variant: normal;
		font-weight: normal;
		letter-spacing: 0.5px;}
	
/* MACROS */
button {}
box {}
label.module {
	border-top:    2px solid rgba(248,246,242,0.02);
	border-left:   2px solid rgba(248,246,242,0.03);
	border-right:  2px solid rgba(248,246,242,0.04);
	border-bottom: 2px solid rgba(248,246,242,0.05);
	padding: 3px 7px;
	background: rgba(248,246,242,.50);
	text-shadow: 2px 1px 2px  rgba(48,30,46,.25);
	/*text-shadow: 1px 1px 2px  rgba(248,246,242,.5);*/}
label.module:hover {
	/*font-weight: bold;*/
	border-top:    2px solid rgba(208, 132, 204,.02);
	border-left:    2px solid rgba(208, 132, 204,.03);
	border-right:    2px solid rgba(208, 132, 204,.04);
	border-bottom:    2px solid rgba(208, 132, 204,0.05);
	background: rgba(208, 132, 204,1);
	text-shadow: 2px 1px 2px  rgba(48,30,46,.15);
	/*text-shadow: 1px 1px 2px rgba(248,246,242,0.5);*/}

/* MODULES SETTINGS */
/* WLR / TASKBAR */
#taskbar {}
#taskbar.empty {background-color: transparent;}
#taskbar button{padding: 3px 12px;
		background: rgba(248,246,242,.5);
		-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);}
#taskbar button.active {background: rgba(208, 132, 204,.9);
			-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);}
#taskbar button:hover {	background: rgba(208, 132, 204,1);
			-gtk-icon-effect: highlight;
			-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);}
 
 /* SUBMAP */
#submap {	background: rgba(208, 132, 204,.9);
		text-shadow: 2px 1px 2px  rgba(48,30,46,.5);}
#submap:hover {	background: rgba(208, 132, 204,1);}

/* TEMPERATURE */
#temperature {min-width: 50px;}
#temperature.warning {background-color: #f0932b;}
#temperature.warning:hover {background-color: #ffa500;}
#temperature.critical {	background-color: #eb4d4b;
			color: rgba(248,246,242,1);}
#temperature.critical:hover {	background-color: #ff6347;}

/* CPU */
#cpu {min-width: 100px;}
#cpu.50 {background-color: #f0932b;}
#cpu.50:hover {background-color: #ffa500;}
#cpu.90 {background-color: #eb4d4b;
	color: rgba(248,246,242,1);}
#cpu.90:hover {background-color: #ff6347;}

/* MEMORY */
#memory {min-width: 50px;}

/* GPU USAGE */
#custom-gpu-usage {}
#custom-gpu-usage:hover {	font-weight: normal;
				background: rgba(208, 132, 204,1);}

/* CAVA */
#cava {	   	min-width: 75px;
		color: rgba(208, 132, 204,.95);
		/*color: rgba(50,25,65,.75);*/
		text-shadow: 2px 1px 2px  rgba(48,30,46,.75);
		/*text-shadow: 1px 2px 2px rgba(248,246,242,.5);*/}
#cava:hover {	border-top:    2px solid rgba(208, 132, 204,.02);
		border-left:    2px solid rgba(208, 132, 204,.03);
		border-right:    2px solid rgba(208, 132, 204,.04);
		border-bottom:    2px solid rgba(208, 132, 204,0.05);	
		background: rgba(208, 132, 204,1);
		/*text-shadow: 2px 1px 2px  rgba(48,30,46,.15);*/
		text-shadow: 2px 1px 2px rgba(248,246,242,.75);
		color: rgba(48,30,46,1);}

/* MPD  */
#mpd {}
#mpd.playing {	border-top:    2px solid rgba(208, 132, 204,.02);
		border-left:    2px solid rgba(208, 132, 204,.03);
		border-right:    2px solid rgba(208, 132, 204,.04);
		border-bottom:    2px solid rgba(208, 132, 204,0.05);
		background: rgba(208, 132, 204,.90);
		text-shadow: 1px 1px 2px  rgba(48,30,46,.25);
		/*text-shadow: 1px 1px 2px rgba(248,246,242,0.5);*/}
#mpd.playing:hover {	background: rgba(208, 132, 204,1);}
#mpd.paused {	border-top:    2px solid rgba(208, 132, 204,.02);
		border-left:    2px solid rgba(208, 132, 204,.03);
		border-right:    2px solid rgba(208, 132, 204,.04);
		border-bottom:    2px solid rgba(208, 132, 204,0.05);	
		color: rgba(48,30,46,.65);	
		background: rgba(208, 132, 204,.8);
		text-shadow: 1px 1px 2px  rgba(48,30,46,.25);
		/*text-shadow: 1px 1px 2px rgba(248,246,242,0.5);*/}
#mpd.paused:hover {	background: rgba(208, 132, 204,1);}
#mpd.stopped {	color: rgba(48,30,46,.50);
		text-shadow: 1px 1px 2px  rgba(48,30,46,.25);
		/*text-shadow: 1px 1px 2px rgba(248,246,242,0.5);*/}
#mpd.stopped:hover {	border-top:    2px solid rgba(208, 132, 204,.02);
			border-left:    2px solid rgba(208, 132, 204,.03);
			border-right:    2px solid rgba(208, 132, 204,.04);
			border-bottom:    2px solid rgba(208, 132, 204,0.05);	
			background: rgba(208, 132, 204,1);}
#mpd.disconnected {	color: #ffb300;
			text-shadow: 1px 1px 2px  rgba(48,30,46,.5);}
#mpd.disconnected:hover {	background: #ffd700;
				text-shadow: 1px 1px 2px  rgba(48,30,46,.5);}

/* PULSEAUDIO  */
#pulseaudio {min-width: 45px;}
#pulseaudio.0 {color: rgba(48,30,46,.50);}
#pulseaudio.muted {	border-top:    3px solid rgba(208, 132, 204,.02);
			border-left:    3px solid rgba(208, 132, 204,.03);
			border-right:    3px solid rgba(208, 132, 204,.04);
			border-bottom:    3px solid rgba(208, 132, 204,0.05);
			background: rgba(208, 132, 204,.90);}
#pulseaudio.muted:hover {background: rgba(208, 132, 204,1);}

/* PULSEAUDIO SLIDER */
#pulseaudio-slider {	border-top:    2px solid rgba(248,246,242,0.02);
			border-left:   2px solid rgba(248,246,242,0.03);
			border-right:  2px solid rgba(248,246,242,0.04);
			border-bottom: 2px solid rgba(248,246,242,0.05);
			padding: 3px 7px;
			background: rgba(248,246,242,.50);
			}
#pulseaudio-slider:hover {	border-top:    2px solid rgba(208, 132, 204,.02);
				border-left:    2px solid rgba(208, 132, 204,.03);
				border-right:    2px solid rgba(208, 132, 204,.04);
				border-bottom:    2px solid rgba(208, 132, 204,0.05);
				background: rgba(248,246,242,.70);
				}
#pulseaudio-slider.muted {   background: rgba(208, 132, 204,.8); }
#pulseaudio-slider.muted:hover {   background: rgba(208, 132, 204,1); }
#pulseaudio-slider slider {background: rgba(248,246,242,0);}
#pulseaudio-slider.muted trough {background: rgba(48,30,46,.15);
  }
#pulseaudio-slider.muted trough:hover {background: rgba(48,30,46,.35);
  }
#pulseaudio-slider trough {	
				background: rgba(48,30,46,.15);
				min-height: 16px;
			   	min-width: 50px;
			   	border-radius: 16px;}
#pulseaudio-slider highlight {	background: rgba(208, 132, 204,.85);
				border-radius: 16px;}
#pulseaudio-slider highlight:hover {	background: rgba(208, 132, 204,1);}
#pulseaudio-slider.muted highlight {	background: rgba(208, 132, 204,.1);
				border-radius: 16px;}
#pulseaudio-slider.muted highlight:hover {	background: rgba(208, 132, 204,1);}

/* KEYBOARD STATE  */
#keyboard-state {background: rgba(248,246,242,.50);}
#keyboard-state > label {background: rgba(248,246,242,.25);
			padding: 3px 10px;
			border: 3px solid rgba(248,246,242,0.05);
			text-shadow: 1px 1px 2px  rgba(248,246,242,0.5);}
#keyboard-state > label.locked {border-top:    3px solid rgba(208, 132, 204,.05);
				border-left:    3px solid rgba(208, 132, 204,.10);
				border-right:    3px solid rgba(208, 132, 204,.15);
				border-bottom:    3px solid rgba(208, 132, 204,0.20);
				background: rgba(208, 132, 204,.85);}

/* TRAY  */
#tray {	background: rgba(248,246,242,.5);
	padding: 3px 7px;
	-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);
	-gtk-icon-style: regular;
	border-top:    2px solid rgba(248,246,242,0.02);
	border-left:   2px solid rgba(248,246,242,0.03);
	border-right:  2px solid rgba(248,246,242,0.04);
	border-bottom: 2px solid rgba(248,246,242,0.05);}
#tray:hover {	border-top:    2px solid rgba(208, 132, 204,.02);
		border-left:    2px solid rgba(208, 132, 204,.03);
		border-right:    2px solid rgba(208, 132, 204,.04);
		border-bottom:    2px solid rgba(208, 132, 204,0.5);	
		background: rgba(208, 132, 204,1);	
		-gtk-icon-effect: highlight;
		-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);}
#tray > .active {-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);
		-gtk-icon-style: regular;}
#tray > .active:hover {	background: rgba(208, 132, 204,1);
			-gtk-icon-effect: highlight;
			-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);}
#tray > .passive {	background: rgba(195, 152, 184,1);
			-gtk-icon-style: regular;
			-gtk-icon-effect: dim;
			-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);}
#tray > .needs-attention {	background: rgba(208, 132, 204,1);
				-gtk-icon-style: regular;
				-gtk-icon-effect: highlight;
				-gtk-icon-shadow: 1px 2px 2px rgba(30,30,30,.75);}

/* NETWORK  */
#network {}
#network.disconnected {background: #ffb300;}
#network.disconnected:hover {background: #ffd700;}

/* INHIBITOR  */
#inhibitor {color: rgba(30,30,30,.55);}
#inhibitor.activated {	background: rgba(208, 132, 204,.9);
			color: rgba(30,30,30,.95);}
#inhibitor.activated:hover {	background: rgba(208, 132, 204,1);}

/*  DISK */
#disk {}

/* CLOCK  */
#clock {min-width: 40px;}



/* WIREPLUMBER  */
/*#wireplumber {background-color: transparent;} 
#wireplumber.muted {background: rgba(248,246,242,.95);}
#wireplumber.muted:hover {background: rgba(248,246,242,1);}*/


/* WINDOW  
#window {}
#window:active {}
#window:hover {}
#window.empty {}
*/

/* IDLE INHIBITOR  
#idle_inhibitor {}
#idle_inhibitor.activated {background: rgba(248,246,242,.95);text-shadow: 1px 1px 1px  rgba(48,30,46,.15);}
#idle_inhibitor.activated:hover 
*/

/* hyprland  WORKSPACES*/  
/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {margin-left: 0px;}*/
/* If workspaces is the rightmost module, omit right margin */
/*.modules-right > widget:last-child > #workspaces {margin-right: 0px;}*/
/*
#workspaces {}
#workspaces button {}
#workspaces button.empty {}
#workspaces button.visible {}
#workspaces button:hover {}
#workspaces button.active {}
#workspaces button.urgent {background-color: #ca9ee6;color: #2d3436;}
#workspaces .taskbar-window {}
#workspaces .taskbar-window.active {}
#workspaces .workspace-label  {}

*/
