

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo;/* FontAwesome;*/
/*    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-size: 12px;
}

/*The following classes are applied to the entire Waybar rather than just the window widget:*/

window#waybar {
    background-color: transparent;
  	font-family: inherit;
    /*border-bottom: 3px solid rgba(255, 255, 255, 0.05); */
    color: rgba(255, 255, 255, 1);
    transition-property: background-color;
    transition-duration: 0.5s;
}
window#waybar.hidden {
    opacity: 0.5;
}
window#waybar.empty {
    background-color: transparent;
    color: transparent;
}
window#waybar.solo {
    background-color: transparent;    
}
window#waybar.termite {
    background-color: #3F3F3F;
}
window#waybar.chromium {
    background-color: #000000;
    border: none;
}
window#waybar.empty #window {
	background-color: transparent;	 
}
window#waybar.toplevel-active {
	background: #60406c;
}


/* GENERAL SETTINGS  */

/*#battery,
#cpu,
#memory,
#disk,
#backlight,
#wireplumber,
#custom-media,
#mode,
#scratchpad,
#power-profiles-daemon, 
#taskbar,
#workspaces,
#workspaces,*/
#cpu,
#memory,
#temperature,
#custom-gpu-usage,
#taskbar,
#mpd,
#pulseaudio,
#keyboard-state,
#network,
#tray,
#idle_inhibitor,
#inhibitor,
#submap,
#clock {
    padding: 0px 10px;   
    border-radius: 16px; 
    background-color: rgba(0, 0, 0, .25);
    border: 1px rgba(0,0,0,0.10);
    color: rgba(248,246,242,1);
    text-shadow: 0 1px 2px rgba(0,0,0,.25);
}


/* you can set a style on hover for any module like this */
/*#pulseaudio:hover {*/
/*    background-color: #a37800;*/
/*}*/




/* TOOLTIP OPTIONS */

tooltip {
	background: rgba(248,246,242,.75);
	color: rgba(30,30,30,.90);
	border: 3px solid rgba(30,30,30,.75);
	border-radius: 16px;
}
tooltip label {
  	padding: 3px 3px;
	border-radius: 16px;
	text-shadow: 0 1px 2px rgba(0,0,0,.20);
}


/*
tooltip {
	background: rgba(0, 0, 0, 0.60);
	border: 3px #d492d8;
	border-radius: 16px;
}
tooltip label {
  	padding: 3px 3px;
	border-radius: 16px;
}

*/


/* MODE  */


#mode {
    background-color: transparent;
}



/* LABEL  */


/*label:focus {
    background-color: #000000;
}*/


 /* MENUS */

menu {
	background: rgba(248,246,242,.75);
	color: rgba(30,30,30,.90);
	border: 1px rgba(248,246,242,0.10);
}
menuitem {
	color: rgba(30,30,30,.90);
	text-shadow: 0 1px 2px rgba(0,0,0,.20);
}


/* WORKSPACES  */


#workspaces {
    background-color: rgba(0, 0, 0, .25);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 0 0px;  
}
#workspaces button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;        
}
#workspaces button.empty {
	background-color: transparent;
	background: transparent;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, .35);
}
#workspaces button.focused, #workspaces button.active {
    background: #60406c;
    border-radius: 10px;
}
#workspaces button.urgent {
    background-color: #ca9ee6;
    color: #2d3436;
}
#workspaces.taskbar-window.active {
    background: #60406c;
    border-radius: 10px;
}



/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-right: 0px;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}



/* WLR / TASKBAR */

#taskbar {
	background-color: transparent;
	padding:  0 0px;     
}
#taskbar.empty {
	background-color: transparent;
}
#taskbar button{
	border: 1px rgba(0,0,0,0.20);
    	color: rgba(255, 255, 255, .35);
    	text-shadow: 0 1px 2px rgba(0,0,0,.15);
	background: rgba(0, 0, 0, .25);
	padding: 0px 10px;  
	border-radius: 16px;      
}
#taskbar button:hover {
	border: 1px rgba(248,246,242,0.10);
	background: rgba(248,246,242,.70);

}
#taskbar button.active {
	border: 1px rgba(248,246,242,0.10);
	background: rgba(248,246,242,.85);

}

#taskbar button.active:hover {
	border: 1px rgba(248,246,242,0.10);
	background: rgba(248,246,242,.90);

}


/* WINDOWS  */


#window {
     background-color: rgba(0, 0, 0, 0);
     color: rgba(255, 255, 255, 1);
}
#window:active {
/*    background-color: #ca9ee6;*/
	background-color: #ca9ee6;
}
#window:hover {
    background: #60406c;
}
#window.empty {
    background-color: rgba(0, 0, 0, 0);    
}


/* MPD  */


#mpd {
border: 1px rgba(0,0,0,0.20);
}
#mpd.playing {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#mpd.paused {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.45);
	color: rgba(30,30,30,.55);
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#mpd.stopped {
	border: 1px rgba(0,0,0,0.20);
    	color: rgba(255, 255, 255, .35);
    	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#mpd.disconnected {
	border: 1px rgba(0,0,0,0.20);
    	background-color: rgba(0, 0, 0, .50);
    	text-shadow: 0 1px 2px rgba(0,0,0,.15);
    	color: #f03a17;
}
#mpd:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
	color: rgba(30,30,30,.90);
}


/* PULSEAUDIO  */


#pulseaudio {
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#pulseaudio:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#pulseaudio.muted {
      	border: 1px rgba(248,246,242,0.05);
      	text-shadow: 0 1px 2px rgba(0,0,0,.15);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}


/* WIREPLUMBER  */


#wireplumber {
    background-color: transparent;
    margin: 0px 3px;
} 
#wireplumber.muted {
    /*background-color: #f53c3c;*/
    background-color: #ca9ee6;
    color: #2d3436;
}


/* KEYBOARD STATE  */


#keyboard-state {
	background: transparent;
        padding:  0 0px;
        text-shadow: 0 1px 2px rgba(0,0,0,.15);
	border: 0px rgba(0,0,0,0.20);
    	color: rgba(255, 255, 255, .50);
}
#keyboard-state > label {
        background: rgba(0, 0, 0, .25);
        border-radius: 16px;
        text-shadow: 0 1px 2px rgba(0,0,0,.15);
        padding:  0 10px;
}
#keyboard-state > label.locked {
      	border: 1px rgba(248,246,242,0.05);
	border-radius: 16px;
	padding:  0 10px;
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}


 /* SUBMAP */


#submap {
	background: rgba(248,246,242,.85);
	border: 1px rgba(248,246,242,0.05);
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
	color: rgba(30,30,30,.90);
}


/* NETWORK  */


#network {
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#network:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#network.disconnected {
      	border: 1px rgba(248,246,242,0.05);
    	background: #ffb300;   
	color: rgba(30,30,30,.90);
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}


/* TRAY  */


#tray {
	border: 1px rgba(0,0,0,0.20);
 	border-radius: 16px;
 	padding:  0 12px;    
 	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#tray > .passive {
      	border: 1px rgba(248,246,242,0.05);
    	-gtk-icon-effect: dim;
   	border-radius: 16px;
   	color: rgba(30,30,30,.90);
}
#tray:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}
#tray > .needs-attention {
      	border: 1px rgba(248,246,242,0.05);
      	-gtk-icon-effect: highlight;
      	border-radius: 16px;
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}


/* IDLE INHIBITOR  */


#idle_inhibitor {
	border: 1px rgba(0,0,0,0.20);
     	padding:  0 5px;    
     	text-shadow: 0 1px 2px rgba(0,0,0,.15);
}
#idle_inhibitor.activated {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}
#idle_inhibitor:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
}


/* INHIBITOR  */


#inhibitor {
	text-shadow: 0 1px 2px rgba(0,0,0,.15);
	border: 1px rgba(0,0,0,0.20);
     	padding:  0 5px;   
      	color: rgba(255, 255, 255, .50); 
}
#inhibitor.activated {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}
#inhibitor:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}

/*
menu {
	border-radius: 15px;
	background: #161320;
	color: #B5E8E0;
}
menuitem {
	border-radius: 15px;
}
*/


/* CLOCK  */


#clock {
	border: 1px rgba(0,0,0,0.20);
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
}
#clock:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}


/* CPU  */


#cpu {
	min-width: 100px;
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
}
#cpu:hover {
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
} 
    
    
#memory {
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
	border: 1px rgba(0,0,0,0.05);
        background: rgba(0, 0, 0, .25);
}
#memory:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
} 

    
#custom-gpu-usage {
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
        background: rgba(0, 0, 0, .25);
        border: 1px rgba(0,0,0,0.05);
}
#custom-gpu-usage:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
} 


#cpu_graph {
}

/* CUSTOM MEDIA  */


#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}
#custom-media.custom-spotify {
    background-color: #66cc99;
}
#custom-media.custom-vlc {
    background-color: #ffa000;
}


/* TEMPERATURE  */


#temperature {
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
	border: 1px rgba(0,0,0,0.20);
}
#temperature:hover {
      	border: 1px rgba(248,246,242,0.05);
	background: rgba(248,246,242,.85);
	color: rgba(30,30,30,.90);
}
#temperature.warning {
      	border: 1px rgba(248,246,242,0.05);
    	background-color: #f0932b;
    	color: rgba(30,30,30,.90);
    	text-shadow: 0 1px 2px rgba(0,0,0,.25);
}
#temperature.critical {
      	border: 1px rgba(248,246,242,0.05);
    	background-color: #eb4d4b;
    	color: rgba(30,30,30,.90);
    	text-shadow: 0 1px 2px rgba(0,0,0,.25);
}





#disk {
    background-color: #964B00;}
#backlight {
    background-color: #90b1b1;}


/* KEYBOARD LANGUAGE  */


#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}


/* POWER PROFILES  */


#power-profiles-daemon {
    padding-right: 15px;
}
#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}
#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}
#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}


/* SCRATCHPAD  */


#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}
#scratchpad.empty {
	background-color: transparent;
}


/* PRIVACY  */


#privacy {
    padding: 0;
}
#privacy-item {
    padding: 0 5px;
    color: white;
}
#privacy-item.screenshare {
    background-color: #cf5700;
}
#privacy-item.audio-in {
    background-color: #1ca000;
}
#privacy-item.audio-out {
    background-color: #0069d4;
}
