[Desktop Entry]
Version=1.1
Type=Application
Name=DOSBox Emulator
Comment=Run old DOS applications
Icon=dosbox
Exec=dosbox
Actions=
Categories=Emulator;Game;System;
Keywords=DOS Emulator;
