[Desktop Entry]
Version=1.1
Type=Application
Name=MEGAsync
GenericName=File Synchronizer
Comment=Easy automated syncing between your computers and your MEGA cloud drive.
Icon=mega
TryExec=megasync
Exec=megasync
Actions=
Categories=Network;
