* {
	background-image: none;
	box-shadow: none;
    font-family: JetBrainsMonoNerdFont;
    font-size: 16px;
}

window {
	background-color: rgba(48, 16, 52, 0.5);
	/*background-color: rgba(25, 25, 30, 0.85);*/
}

button {
	
    margin: 5px 5px;
    padding: 10px 10px;   
    border-radius: 36px;
    border-color: rgba(248,246,242,.05);
    /*border-color: rgba(24, 11, 33, 0.50);*/
    border-style: solid;
	border-width: 3px ;
        text-shadow: 1px 2px 2px rgba(35, 45, 35, 0.25);
	color:rgba(248, 246, 242, 0.85) ;
	background-color: rgba(248,246, 242, 0.35);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:hover {
	background-color: rgba(248, 246, 242, 0.65) ;
	outline-style: none;
  	border-color: rgba(248, 246, 242, 0.55) ;
  	color: rgba(30,30,30,.90);
  	text-shadow: 1px 1px 2px rgba(30,45,30,.15);
  	font-weight: bold;
}

button:focus { 
	background-color: rgba(248, 246, 242, 0.85) ;
	outline-style: none;
  	border-color: rgba(248, 246, 242, 0.75) ;
  	color: rgba(30,30,30,.90);
  	text-shadow: 1px 2px 2px rgba(30,30,30,.15);
  	font-weight: bold;

}

button:active {
	background-color: rgba(248, 246, 242, 0.85) ;
	outline-style: none;
  	border-color: rgba(248, 246, 242, 0.75) ;
  	color: rgba(30,30,30,.90);
  	text-shadow: 1px 2px 2px rgba(30,30,30,.15);
  	font-weight: bold;
	/*background-color: rgba(96, 46, 100, 0.70);
	outline-style: none;
  border-color: #d492d8;*/
}



#lock {
    background-image: image(url("/home/daniel/.local/share/wlogout/icons/hyprland-white.svg"));
}
#lock:hover, #lock:active, #lock:focus {
    background-image: image(url("/home/daniel/.local/share/wlogout/icons/hyprland.svg"));
}
#logout {
    background-image: image(url("/home/daniel/.local/share/wlogout/icons/debian-white.svg"));
}
#logout:hover, #logout:active, #logout:focus {
    background-image: image(url("/home/daniel/.local/share/wlogout/icons/debian.svg"));
}
#suspend { 
    background-image: image(url("/home/daniel/.local/share/wlogout/cream/suspend.svg"));
}
#suspend:hover, #suspend:active, #suspend:focus {
    background-image: image(url("/home/daniel/.local/share/wlogout/charcoal/suspend.svg"));
}
#shutdown {
    background-image: image(url("/home/daniel/.local/share/wlogout/cream/shutdown.svg"));
}
#shutdown:hover, #shutdown:active, #shutdown:focus  {
    background-image: image(url("/home/daniel/.local/share/wlogout/charcoal/shutdown.svg"));
}
#reboot {
    background-image: image(url("/home/daniel/.local/share/wlogout/cream/reboot.svg"));
}
#reboot:hover, #reboot:active, #reboot:focus {
    background-image: image(url("/home/daniel/.local/share/wlogout/charcoal/reboot.svg"));
}
#softreboot {
    background-image: image(url("/home/daniel/.local/share/wlogout/cream/softreboot.svg"));
}
#softreboot:hover, #softreboot:active, #softreboot:focus {
    background-image: image(url("/home/daniel/.local/share/wlogout/charcoal/softreboot.svg"));
}

