[Desktop Entry]
Name[bg]=Капкомер
Name[ca]=Eyedropper
Name[cs]=Eyedropper
Name[de]=Eyedropper
Name[es]=Eyedropper
Name[eu]=Eyedropper
Name[fi]=Eyedropper
Name[fr]=Pipette
Name[hi]=Eyedropper
Name[hr]=Pipeta
Name[hu]=Pipetta
Name[it]=Contagocce
Name[nb_NO]=Eyedropper
Name[nl]=Eyedropper
Name[pl]=Eyedropper
Name[pt]=Conta-Gotas
Name[pt_BR]=Conta-Gotas
Name[ru]=Eyedropper
Name[sv]=Ögondroppe
Name[tr]=Damlalık
Name[uk]=Піпетка
Name[zh_CN]=滴管
Name[ta]=கண்
Name[bn]=Eyedropper
Name[ar]=قطَّارة
Name[vi]=Eyedropper
Name[kw]=Eyedropper
Name[kk]=Көзтамызғыш
Name[ka]=Eyedropper
Name[he]=Eyedropper
Name[ja]=Eyedropper
Name[ko]=Eyedropper
Name=Eyedropper
GenericName[bg]=Избор на цвят
GenericName[ca]=Selector de color
GenericName[cs]=Vybírač barev
GenericName[de]=Farbwähler
GenericName[es]=Selector de color
GenericName[eu]=Kolore-hautagailua
GenericName[fi]=Värivalitsin
GenericName[fr]=Sélecteur de couleurs
GenericName[hi]=रंग चयनकर्ता
GenericName[hr]=Birač boja
GenericName[hu]=Színválasztó
GenericName[nb_NO]=Fargevelger
GenericName[nl]=Kleurenkiezer
GenericName[pl]=Próbnik kolorów
GenericName[pt]=Seletor de Cores
GenericName[pt_BR]=Seletor de cores
GenericName[ru]=Выбор цвета
GenericName[sv]=Färgväljare
GenericName[tr]=Renk Seçici
GenericName[uk]=Вибір кольору
GenericName[zh_CN]=颜色拾取器
GenericName[et]=Värvi valija
GenericName[ta]=வண்ண தேர்வாளர்
GenericName[ro]=Selector de culori
GenericName[bn]=রঙ বাছাইকারী
GenericName[ar]=منتقي الألوان
GenericName[vi]=Trình chọn màu
GenericName[kw]=Kunteller Kolor
GenericName[kk]=Түс таңдаушы
GenericName[ka]=ფერის ამრჩევი
GenericName[ja]=カラーピッカー
GenericName[ko]=색상 선택기
GenericName=Color Picker
Comment[bg]=Избиране и форматиране на цветове
Comment[ca]=Escull i formata colors
Comment[cs]=Vyberte a formátujte barvy
Comment[de]=Farbe auswählen und formatieren
Comment[es]=Elija y formatee los colores
Comment[fi]=Valitse ja muotoile värejä
Comment[fr]=Choisissez et formatez des couleurs
Comment[hi]=रंग चुनें और प्रारूपित करें
Comment[hr]=Odaberi i formatiraj boje
Comment[hu]=Színek választása és átalakítása
Comment[it]=Preleva e sistema i colori
Comment[nb_NO]=Velg farger fra skjermen
Comment[nl]=Kleuren kiezen en opmaken
Comment[pl]=Pobieraj i formatuj kolory
Comment[pt]=Selecione e formate as cores
Comment[pt_BR]=Selecione e formate cores
Comment[ru]=Выбирайте и форматируйте цвета
Comment[sv]=Välj och formatera färger
Comment[tr]=Renkleri seç ve biçimlendir
Comment[uk]=Обирайте та форматуйте кольори
Comment[zh_CN]=拾取并格式化颜色
Comment[et]=Valige ja vormindage värvid
Comment[ta]=வண்ணங்களைத் தேர்ந்தெடுத்து வடிவமைக்கவும்
Comment[ro]=Alegeți și formatați culorile
Comment[bn]=রঙ নির্বাচন করুন এবং বিন্যাস করুন
Comment[ar]=انتقِ الألوان ونسِّقها
Comment[vi]=Chọn và định dạng màu sắc
Comment[kw]=Kuntel ha furvasa kolors
Comment[kk]=Түстерді таңдау және пішімдеу
Comment[ja]=色を選択してフォーマットを確認
Comment[ko]=색상을 선택하고 형식을 바꿉니다
Comment=Pick and format colors
Type=Application
Exec=eyedropper
Terminal=false
Categories=GNOME;GTK;Development;Graphics;Utility;WebDevelopment;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bg]=цвят;избор на цвят;палитра;
Keywords[fi]=Gnome;GTK;Color;Colorpicker;Picker;Palette;väri;värivalitsin;paletti;
Keywords[hi]=Gnome;GTK;रंग;रंग चयनकर्ता;चयनकर्ता;पैलेट;
Keywords[hu]=Gnome;GTK;Color;Colorpicker;Picker;Palette;eyedropper;szín;színválasztó;választó;paletta;
Keywords[it]=Gnome;GTK;Colore;Selettore;Tavolozza;
Keywords[nb_NO]=GNOME;GTK;Farger;Fargevelger;Palett;
Keywords[pl]=Gnome;GTK;Próbnik kolorów;Próbnik;Paleta;
Keywords[pt_BR]=Gnome;GTK;Color;Color Picker;Picker;Palette;Cor;Cores;Seletor;Seletor de Cor;Paleta;Paleta de Cor;Paleta de Cores;Conta-Gotas;Selecionar;Escolher;
Keywords[ru]=Gnome;GTK;Color;Picker;Цвет;Выбор цвета;Пипетка;Палитра;
Keywords[sv]=Gnome;GTK;Färg;Färgväljare;Väljare;Palett;
Keywords[zh_CN]=Gnome;GTK;Color;Colorpicker;Picker;Palette;颜色;色彩;拾取器;吸取器;色板;调色盘;
Keywords[ta]=க்னோம்; சி.டி.கே; வண்ணம்; நிறம்எடு; எடு; தட்டு;
Keywords[ro]=Gnome;GTK;Culoare;Selector de Culori;Selector;Paletă;
Keywords[bn]=Gnome;GTK;রঙ;রঙ বাছাইকারী;বাছাইকারী;প্যালেট;
Keywords[ar]=جنوم;جتك;لون;منتقي ألوان;منتقي;لوحة ألوان;قطارة;Gnome;GTK;Color;Colorpicker;Picker;Palette;
Keywords[vi]=Gnome;GTK;Color;Colorpicker;Picker;Palette;Màu sắc;Trình chọn màu;Trình chọn;Bảng màu;
Keywords[kw]=Gnome;GTK;Kolor;Kunteller Kolor;Kunteller;
Keywords[kk]=Gnome;GTK;Түс;Түс таңдаушы;Таңдаушы;Палитра;
Keywords[ka]=Gnome;GTK;Color;Colorpicker;Picker;Palette;
Keywords[ko]=그놈;GTK;컬러;색상;색상선택기;선택기;팔레트;
Keywords=Gnome;GTK;Color;Colorpicker;Picker;Palette;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.github.finefindus.eyedropper
StartupNotify=true
DBusActivatable=true
