[Desktop Entry]
Name[es]=Longitud
Name[fr]=Longueur
Name[it]=Length
Name[nl]=Lengte
Name[ru]=Линейка
Name[uk]=Лінійка
Name=Length
GenericName[es]=Regla de pantalla
GenericName[fr]=Règle d’écran
GenericName[it]=Righello dello schermo
GenericName[nl]=Schermliniaal
GenericName[ru]=Линейка для экрана
GenericName[uk]=Лінійка для екрану
GenericName=Screen ruler
Comment[es]=Medición de objetos en pantalla
Comment[fr]=Mesurer des objets à l’écran
Comment[it]=Misura gli oggetti sullo schermo
Comment[nl]=Meet objecten op het scherm
Comment[ru]=Измеряйте объекты на экране
Comment[uk]=Виміряйте об'єкти на екрані
Comment=Measure objects on screen
Exec=length
Icon=io.github.herve4m.Length
Terminal=false
Type=Application
Categories=Utility
Keywords[es]=GTK;GNOME;regla;medir;;
Keywords[fr]=GTK;GNOME;règle;mesurer;
Keywords[it]=GTK;GNOME;righello;misura;
Keywords[nl]=GTK;GNOME;liniaal;meten;
Keywords[ru]=GTK;GNOME;ruler;measure;screen;monitor;гтк;гном;линейка;измерение;измерять;экран;монитор;дистанцию;дистанция;
Keywords[uk]=GTK;GNOME;ruler;measure;screen;monitor;гтк;гном;лінійка;виміряти;екран;монітор;дистанцію;дистанція;
Keywords=GTK;GNOME;ruler;measure;
StartupNotify=true
DBusActivatable=true
