[Desktop Entry]
Name[ar]=لوترس
Name[be]=Lutris
Name[de]=Lutris
Name[el]=Lutris
Name[es]=Lutris
Name[fa]=لوتریس
Name[fr]=Lutris
Name[hr]=Lutris
Name[it]=Lutris
Name[ka]=Lutris
Name[ko]=Lutris
Name[nb]=Lutris
Name[nl]=Lutris
Name[pl]=Lutris
Name[pt_BR]=Lutris
Name[pt_PT]=Lutris
Name[ru]=Lutris
Name[tr]=Lutris
Name[vi]=Lutris
Name[zh_CN]=Lutris
Name=Lutris
Type=Application
Exec=lutris --install %f
MimeType=application/x-lutris
Icon=net.lutris.Lutris
NoDisplay=true
StartupNotify=true
