[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=HP LaserJet Professional P 1102w   192.168.0.15
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=idmmnlgfblmaghbodhonhmghlenodkcl
Icon=brave-idmmnlgfblmaghbodhonhmghlenodkcl-Default
StartupWMClass=crx_idmmnlgfblmaghbodhonhmghlenodkcl
