[Desktop Entry]
Version=1.1
Type=Application
Name=Krokiet
Comment=storage cleaner
Icon=krokiet
Exec=krokiet
Actions=
Categories=Utility;
Path=
Terminal=false
StartupNotify=false
