[Desktop Entry]
Type=Application
Name=OmaCalc
GenericName=Simple Calculator
Comment=Dead-simple Calculator
Exec=omacalc
Icon=calc
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
MimeType=video/mp4;video/x-matroska;video/quicktime;video/webm;video/x-msvideo;video/mpeg;
Keywords=video;trim;cut;clip;ffmpeg;
StartupWMClass=omacut
Path=
StartupNotify=false
