[Desktop Entry]
Name[az]=Kontrast
Name[bg]=Контраст
Name[ca]=Contrast
Name[cs]=Kontrast
Name[da]=Kontrast
Name[de]=Kontrast
Name[el]=Αντίθεση
Name[en_GB]=Contrast
Name[es]=Contraste
Name[eu]=Kontrastea
Name[fa]=سایه‌روشن
Name[fi]=Kontrasti
Name[fr]=Contraste
Name[fur]=Contrast
Name[gl]=Contraste
Name[he]=ניגודיות
Name[hi]=Contrast
Name[hr]=Kontrast
Name[hu]=Kontraszt
Name[id]=Kontras
Name[it]=Contrasto
Name[ja]=Contrast
Name[ka]=კონტრასტი
Name[kk]=Контраст
Name[ko]=보색
Name[kw]=Gorthwedh
Name[nb]=Contrast
Name[nl]=Contrast
Name[oc]=Contraste
Name[pl]=Kontrast
Name[pt]=Contrast
Name[pt_BR]=Contraste
Name[ro]=Contrast
Name[ru]=Контраст
Name[sk]=Kontrast
Name[sl]=Kontrast
Name[sr]=Контрастко
Name[sv]=Kontrast
Name[tr]=Kontrast
Name[uk]=Контраст
Name[zh_CN]=对比度
Name=Contrast
Comment[az]=İki rəng arasındakı kontrastı yoxlayın
Comment[bg]=Сравняване на контраста между два цвята
Comment[ca]=Comprova el contrast entre dos colors
Comment[cs]=Zkontrolujte kontrast mezi dvěma barvami
Comment[da]=Undersøg kontrasten mellem to farver
Comment[de]=Kontrast zwischen zwei Farben vergleichen
Comment[el]=Ελέγξτε την αντίθεση μεταξύ δύο χρωμάτων
Comment[en_GB]=Check contrast between two colours
Comment[es]=Comprobar el contraste entre dos colores
Comment[eu]=Aztertu bi koloreren arteko kontrastea
Comment[fa]=بررسی سایه‌روشن بین دو رنگ
Comment[fi]=Tarkista kahden värin välinen kontrasti
Comment[fr]=Vérifier le contraste entre deux couleurs
Comment[fur]=Controle il contrast tra doi colôrs
Comment[gl]=Comprobe o contraste entre dous cores
Comment[he]=בדיקת ניגודיות בין שני צבעים
Comment[hi]=दो रंगों के बीच वैषम्य की जाँच करें
Comment[hr]=Provjerite kontrast između dvije boje
Comment[hu]=Kontraszt ellenőrzése két szín között
Comment[id]=Periksa kontras antara dua warna
Comment[it]=Controlla il contrasto tra due colori
Comment[ja]=2色間のコントラストをチェックします
Comment[ka]=შეამოწმეთ კონტრასტი ორ ფერს შორის
Comment[kk]=Екі түс арасындағы контрастты тексеру
Comment[ko]=두 색상의 보색 여부를 확인합니다
Comment[kw]=Checkya gorthwedh tredh dew kolorys
Comment[nb]=Mål kontrasten mellom farger
Comment[nl]=Ga het contrast tussen twee kleuren na
Comment[oc]=Verificar lo contraste entre doas colors
Comment[pl]=Sprawdzanie kontrastu między dwoma kolorami
Comment[pt]=Verifique o contraste entre duas cores
Comment[pt_BR]=Verifique o contraste entre duas cores
Comment[ro]=Verifică contrastul între două culori
Comment[ru]=Проверьте контраст между двумя цветами
Comment[sk]=Overuje kontrast medzi dvomi farbami
Comment[sl]=Preveri kontrast med dvema barvama
Comment[sr]=Проверите контраст између две боје
Comment[sv]=Kontrollera kontrast mellan två färger
Comment[tr]=İki renk arasındaki karşıtlığı gözden geçir
Comment[uk]=Перевірка контрастності двох кольорів
Comment[zh_CN]=检查两种颜色之间的对比度
Comment=Check contrast between two colors
Type=Application
Exec=contrast
Terminal=false
Categories=Utility;GNOME;GTK;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[az]=Rəng;Kontrast;GNOME;GTK;
Keywords[bg]=цвят;контраст;color;contrast;gnome;gtk;
Keywords[ca]=Color;Contrast;GNOME;GTK;
Keywords[cs]=barva;kontrast;GNOME;GTK;
Keywords[da]=Farve;Kontrast;GNOME;GTK;
Keywords[de]=Farbe;Color;Kontrast;Contrast;GNOME;GTK;
Keywords[el]=Χρώμα;Αντίθεση;GNOME;GTK;
Keywords[en_GB]=Colour;Contrast;GNOME;GTK;
Keywords[es]=Color;Contraste;GNOME;GTK;
Keywords[eu]=Kolorea;Kontrastea;GNOME;GTK;
Keywords[fa]=Gnome;GTK;گنوم;سایه‌روشن;کنتراست;رنگ;
Keywords[fi]=Color;Contrast;GNOME;GTK;väri;kontrasti;
Keywords[fr]=Couleur;Contraste;GNOME;GTK;
Keywords[fur]=Colôr;Contrast;GNOME;GTK;
Keywords[gl]=Cor;Contraste;GNOME;GTK;
Keywords[he]=צבע;צבעים;ניגודיות;GNOME;GTK;
Keywords[hi]=Color;Contrast;GNOME;GTK;रंग;वैषम्य;
Keywords[hr]=Boja;Kontrast;GNOME;GTK;
Keywords[hu]=szín;kontraszt;GNOME;GTK;
Keywords[id]=Warna;Kontras;GNOME;GTK;
Keywords[it]=Colore;Contrasto;GNOME;GTK;
Keywords[ja]=Color;Contrast;GNOME;GTK;色;コントラスト;GNOME;GTK;
Keywords[ka]=Color;Contrast;GNOME;GTK;
Keywords[kk]=Түс;Контраст;GNOME;GTK;
Keywords[ko]=Color;색;색상;Contrast;대비;보색;GNOME;그놈;GTK;
Keywords[kw]=Kolor;Gorthwedh;GNOME;GTK;
Keywords[nb]=Farge;Kontrast;GNOME;GTK;Color;Contrast;
Keywords[nl]=Color;Contrast;GNOME;GTK;Kleuren;Contrast;
Keywords[oc]=Color;Contrast;GNOME;GTK;contraste;
Keywords[pl]=Kolor;Kolory;Color;Colour;Kontrast;Contrast;GNOME;GTK;GTK+;
Keywords[pt]=Cor;Contraste;GNOME;GTK;
Keywords[pt_BR]=Color;cor;Contrast;Contraste;GNOME;GTK;
Keywords[ro]=Color;Contrast;GNOME;GTK;Culoare;
Keywords[ru]=Color;Contrast;GNOME;GTK;цвет;контраст;
Keywords[sk]=Farba;Kontrast;
Keywords[sl]=Color;Contrast;GNOME;GTK;Barva;kontrast;tema;
Keywords[sr]=боја;контраст;супротност;Гном;Гтк;Color;Contrast;GNOME;GTK;
Keywords[sv]=Färg;Kontrast;GNOME;GTK;
Keywords[tr]=Color;Contrast;GNOME;GTK;Renk;Karşıtlık;Kontrast;
Keywords[uk]=Color;Contrast;GNOME;GTK;колір;контраст;контрастність;гноме;гном;жтека;гтк;
Keywords[zh_CN]=Color;Contrast;GNOME;GTK;颜色;对比度;
Keywords=Color;Contrast;GNOME;GTK;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.design.Contrast
DBusActivatable=true
StartupNotify=true
Actions=new-window;

[Desktop Action new-window]
Exec=contrast --new-window
Name[az]=Yeni Pəncərə
Name[bg]=Нов прозорец
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[fi]=Uusi ikkuna
Name[hu]=Új ablak
Name[ka]=ახალი ფანჯარა
Name[kk]=Жаңа терезе
Name[kw]=Fenester Nowydh
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Створити вікно
Name[zh_CN]=新建窗口
Name=New Window
# TRANSLATORS: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=window-new
