[Desktop Entry]
Name[fr]=Door Knocker
Name[tr]=Door Knocker
Name[de]=Door Knocker
Name[es]=Door Knocker
Name[it]=Door Knocker
Name[pt]=Door Knocker
Name[ca]=Door Knocker
Name[cs]=Door Knocker
Name[da]=Door Knocker
Name[en_GB]=Door Knocker
Name[fi]=Door Knocker
Name[ja]=Door Knocker
Name[nl]=Deurklopper
Name[pl]=Door Knocker
Name[pt_BR]=Door Knocker
Name[ru]=Door Knocker
Name[sv]=Dörrknackare
Name[uk]=Door Knocker
Name=Door Knocker
Comment[fr]=Vérifier la disponibilité des portails
Comment[tr]=Portalların kullanılabilirliğini kontrol et
Comment[de]=Überprüft die Verfügbarkeit von Portalen
Comment[es]=Comprobar la disponibilidad de los portales
Comment[it]=Verifica la disponibilità dei portali
Comment[pt]=Verifique a disponibilidade dos portais
Comment[ca]=Comprova la disponibilitat dels portals
Comment[cs]=Zkontrolujte dostupnost portálů
Comment[da]=Tjek tilgængeligheden af portaler
Comment[en_GB]=Check portal availability
Comment[fi]=Tarkista portaalien saatavuus
Comment[ja]=ポータルの可用性を確認
Comment[nl]=Controleer de beschikbaarheid van portalen
Comment[pl]=Sprawdź dostępność portali
Comment[pt_BR]=Verifique a disponibilidade dos portais
Comment[ru]=Проверить доступность порталов
Comment[sv]=Kolla tillgängligheten för portaler
Comment[uk]=Перевірка доступності порталів
Comment=Check the availability of portals
Exec=door-knocker
Icon=xyz.tytanium.DoorKnocker
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[fr]=portal;
Keywords[tr]=portal;
Keywords[de]=portal;
Keywords[es]=portal;
Keywords[it]=portale;
Keywords[pt]=portal;
Keywords[ca]=portal;
Keywords[cs]=portál;
Keywords[da]=portal;
Keywords[en_GB]=Portal;
Keywords[fi]=portaali;
Keywords[ja]=portal;ポータル;
Keywords[nl]=portaal;
Keywords[pl]=portal;
Keywords[pt_BR]=portal;
Keywords[ru]=портал;
Keywords[sv]=portal;
Keywords[uk]=portal;портал;
Keywords=portal;
